body{
	font-family: 'Eurostile';
	background-image: url(../img/body_bg.html);
	background-repeat: no-repeat;
	background-attachment:  fixed;
	background-position: center;
	background-size: cover;
	letter-spacing: .8px;
}
img{
	width: 100%;
}
.row{
	margin: 0;
}
.top_bar{
	font-family: 'Eurostile';
	background-color: rgb(31, 31, 33);
}
.top_bar a{
	font-size: 14px;
	color: rgb(255,255,255);
}
.send-icon{
	font-size: 14px!important;
	color: rgb(240, 82, 84)!important;
	margin: 0;
}
.top_bar ul{
	padding-left: 0;
	margin-bottom: 0;
	padding: 5px 0px!important;
}
.top_bar ul li{
	list-style: none;
	display: inline-flex;
	color: rgb(255,255,255);
	font-size: 14px;
}
.top_bar_sm{
	color: rgb(0,0,0);
	border: 1px solid rgb(2,2,2);
	border-radius: 50%;
	transition-delay: .2s;
}
.top_bar_sm:hover{
	color: rgb(254, 55, 0);
	border-color: rgb(254, 55, 0);
}
.logo{
	width: 13rem;
}
.navbar{
	padding: 5px 0;
	background-color: rgb(255,255,255);
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 99;
	border-bottom: 3px solid rgb(212, 26, 36);
}
.navbar-nav{
	margin-top: 30px;	
}
.nav-link{
	color: rgb(31, 31, 33);
	text-transform: uppercase;
	font-size: 14px;
}
.nav-item .active{
	color: rgb(240, 82, 84);
}
.nav-link:hover{
	color: rgb(240, 82, 84);
}
.enqury_btn{
	background-color: rgb(254, 55, 0);
	color: rgb(255,255,255)!important;
	cursor: pointer;
}
.navbar-toggler .fa-bars{
	color: rgb(212, 26, 36);
}
.slider_text{
	position: absolute;
	top: 55%;
	left: 3%;
	font-family: 'ArialBlack';	
	color: rgb(255,255,255);
	font-weight: bold;
}
.slider-btn{
	border: 1px solid rgb(255,255,255);
    padding: 10px 15px;
    font-family: 'Eurostile';
    color: rgb(255,255,255);
}
.slider-btn:hover{
	text-decoration: none;
	color: rgb(255,255,255);
}
#slider .carousel-indicators li{
	width: 15px;
    height: 15px;
    border-radius: 50%;
}
#slider .carousel-indicators{
	left: unset;
	margin-right: 10%;
}
#aboutus{
	padding-top: 30px!important;
	padding-bottom: 30px!important;
}
#aboutus .heading{
	font-family: 'Verdana';
	color: rgb(90, 90, 92);
}
.about-image{
	background-image: url('../img/about-bg_02.jpg');
	background-size: cover;
	height: 435px;
}
.about-image h1{
	font-family: 'ArialBlack';
}
#aboutus img{
	height: 435px;
	width: 100%;
}
.label {
    background: rgb(212, 26, 36); /*rgb(212 186 26)*/
    color: rgb(255,255,255);
    font-size: 28px;
    padding: 4px 15px;
    width: 455px;
    text-align: center;
    margin-top: -10px;
}
.top-left {
  position: absolute;
  transform: rotate(-90deg) scaleX(-1);
  transform-origin: top left;
}
.top-left .content {
  transform: scaleX(-1);
}
.about-image{
    text-align: justify;
    color: rgb(255,255,255);
}
.abt-content{
	padding: 3% 10% 0 12%;	
}
.abt-read-btn{
	background: rgb(212, 26, 36);
    color: rgb(255,255,255);
    float: right;
	padding: 5px 15px;
}
.abt-read-btn:hover{
	text-decoration: none;
	color: rgb(255,255,255);
}
#therapy{
	background-attachment: fixed;
	background-image: url('../img/theraphy.jpg');
	min-height: 700px;
	padding: 15px 0px!important;
}
.title_center{
	font-family: 'ArialBlack';
	color: rgb(65, 65, 66);
	text-align: center;
}
.therapy-title{
	background-color: rgb(212, 26, 36);
    color: rgb(255,255,255);
    text-align: center;
    position: absolute;
    width: 91.9%;
    bottom: -8px;
    padding: 12px;
    text-transform: uppercase;
    font-size: 14px;
}
.theraphys img{
	width: 100%;
    height: 260px;
    object-fit: cover;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 10px 16px 0 rgba(0,0,0,0.19);
    margin-bottom: 10px;
}
#therapy p{
	text-align: justify;
}
.therapy-btn{
	color: rgb(57, 57, 58);
	font-weight: bold;
	float: right;
}
#team{
	margin-top: 50px;
}
.color-red{
	color: rgb(212, 26, 36);
}
#team p{
	font-family: 'Verdana';
	font-size: 12px;
}
.team-member{
	font-family: 'Verdana';
}
.team-read-btn{
	font-weight: bold;
	float: right;
	color: rgb(255,255,255);
}
.team-read-btn:hover{
	text-decoration: none;
	color: rgb(255,255,255);
}
.team-mem-container{
	height: 435px;
}
.team-mem-group{
	height: 435px;
	width: 100%;
	object-fit: cover;
}
.intervention-program{
	background-color: rgb(58, 58, 60);
	border-right: 10px solid rgb(212, 26, 36);
	text-align: right;
	padding: 32px 0;
	padding-right: 15px;
	color: rgb(255,255,255);
}
.intervention-program h3{	
	font-family: 'ArialBlack';
}
.intervention-program h5{	
	font-family: 'Verdana';
}
.custm-bullet{
	width: 15px;
    height: 15px;
    float: left;
    margin-top: 4px;
    margin-right: 5px;
    -webkit-animation: rotate-center 0.6s linear infinite forwards;
	        animation: rotate-center 0.6s linear infinite forwards;
}
/* ----------------------------------------------
 * Generated by Animista on 2019-8-20 11:17:2
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

#gallery h3{
	color: rgb(65, 65, 66);
	font-family: 'ArialBlack';
	padding: 30px 0!important;
}
#gallery .nav-tabs .nav-link{
	background-color: rgb(58, 58, 60);
	color: rgb(255,255,255);
	border-radius: 0;
    padding: 5px 30px;
}
#gallery .nav-item .active{
	background-color: rgb(212, 26, 36);
	color: rgb(255,255,255);
	border-color: transparent;
	border-radius: 0;
} 
#gallery .nav-tabs {
	border-bottom: 0;
}
#gallery .nav-link:hover{
	border-color: transparent;
	background-color: rgb(212, 26, 36);
	color: rgb(255,255,255);
	border-radius: 0;
}
#gallery img{
	width: 100%;
	height: 185px;
	object-fit: cover;
	margin-bottom: 25px;
}
#gallery h4{
	color: rgb(65, 65, 66);
	font-family: 'ArialBlack';
	padding: 30px 0!important;
}
.appoinment{
	background-color: rgb(51, 51, 53);
	padding: 23px 10px;
}
.appoinment .form-control{
	background-color: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 2px solid rgb(113, 113, 114);
    padding: 0;
}
textarea{
	resize: none;
}
.appinmnt-btn{
	background-color: rgb(212, 26, 36);
	display: block;
	width: 100%;
	border: 0;
	color: rgb(255,255,255);
	margin-top: 30px;
	padding: 5px;
}
footer{
	border-top: 5px solid rgb(212, 26, 36);
	margin-bottom: 15px!important;
}
.route-map{
	font-family: 'Verdana';
	font-weight: bold;
	margin-top: 10px;
	text-transform: uppercase;
}
footer ul{
	
}
footer ul li{
	font-family: 'Verdana';
}
footer ul li a{
	color: rgb(0,0,0);
	font-size: 13px;
}
footer ul li a:hover{
	color: rgb(212, 26, 36);
	text-decoration: none;
}
.footer-call-icon{
	float: left;
    width: 25px;
    margin-top: 10px;
    margin-right: 5px;
}
.copy{
	border-bottom: 10px solid rgb(212, 26, 36);
	background-color: rgb(51, 51, 53);
	color: rgb(255,255,255);
	font-size: 14px;
	padding: 10px!important;
}
.copy a{
	color: rgb(255,255,255);
}
.theraphys{
	margin-bottom: 10px;
}
.banner-text{
	position: absolute;
	bottom: 35px;
	left: 50px;
	color: rgb(255,255,255);
}
.breadcrumb{
	background-color: rgb(58, 58, 60);
    border-radius: 0;
    border-top: 5px solid rgb(212, 26, 36);
    margin-bottom: 0;
}
.breadcrumb a{
    color: rgb(255,255,255);	
}
.breadcrumb .active{
	color: rgb(212, 26, 36);
	cursor: not-allowed;
}
.page-bg{
	background-image: url(../img/about-page-bg.png);
	padding: 50px 0!important;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}
.page-bg p{
	text-align: justify;
}
i{
	color: rgb(212, 26, 36);
}
.banner-text i{
	color: rgb(255,255,255)
}
.title{
	text-transform: uppercase;
}
.title:after{
	content: '';
	display: block;
	width: 50px;
	height: 2px;
	background-color: rgb(212, 26, 36);
}
#programs{
	margin-bottom: 20px;
}
.team-img{
	border-radius: 50%;
    height: 200px;
    object-fit: cover;
    padding: 5px;
    border: 3px dashed rgb(180, 27, 38);
}
.team{
	text-align: center;
    margin-bottom: 25px;
    background-color: rgb(249, 249, 249);
    padding: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2), 0 2px 10px 0 rgba(0,0,0,0.19);
}
.team h6{
	color: rgb(212, 26, 36);
}
.team-popup-person{
	background-color: rgb(41, 41, 42);
	text-align: center;
	color: rgb(255,255,255)!important;
	    padding-bottom: 20px;
}
.team-popup-person h6, .fa{
	color: rgb(255,255,255);
}
.team-popup-person .fa{
	padding-left: 10px;
}
.team-popup-person img{
    padding: 10%;
}
.br-bt{
	border-bottom: 1px solid rgb(212, 26, 36);
}
#team-page .modal-body p{
	text-align: justify;
}
.team-mem-name{
	min-height: 100px;
}
.booking{
	background-image: url(../img/booking-page-bg.jpg);
	background-attachment: fixed;
	min-height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 50px 0;
}
.booking-form{
	background-color: rgba(0,0,0,.86);
	padding: 50px;
}
.booking-form .form-control{
	background-color: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgb(212, 26, 36);
    padding: 0;
}
.booking-form .form-control:focus{
	box-shadow: none;
}
.booking-title{
	text-align: center;
	color: rgb(255,255,255);
}
.booking-title:after{
	display: block;
	content: '';
	width: 50px;
	height: 2px;
	margin: auto;
	background-color: rgb(212, 26, 36);
	margin-bottom: 20px;
}
.booking-form label{
	display: block;
	width: 100%;
	color: rgb(255,255,255);
}
.input-group-prepend{
	border-bottom: 1px solid rgb(212, 26, 36);
}
.book-btn{
	background-color: transparent;
	border: 2px solid rgb(212, 26, 36);
	color: rgb(255,255,255);
}
.book-btn {
	color:rgb(212, 26, 36);
	background:rgba(0,0,0,.56);
	border:2px solid rgb(212, 26, 36);
	position:relative;
	margin:1em;
	display:inline-block;
	padding:0.5em 1em;
	transition:all 0.3s ease-in-out;
	text-align:center;
}
.book-btn .fa{
	color:rgb(212, 26, 36);
}
.book-btn .fa:hover{
	color:#353535;
}
.book-btn:before, .book-btn:after {
	content:'';
	display:block;
	position:absolute;
	border-color:rgb(212, 26, 36);
	box-sizing:border-box;
	border-style:solid;
	width:1em;
	height:1em;
	transition:all 0.3s ease-in-out
}
.book-btn:before {
	top:-6px;
	left:-6px;
	border-width:2px 0 0 2px;
	z-index:5;
}
.book-btn:after {
	bottom:-6px;
	right:-6px;
	border-width:0 2px 2px 0;
}
.book-btn:hover:before, .book-btn:hover:after {
	width:calc(100% + 12px);
  height:calc(100% + 12px);
  border-color:#fff
}
.book-btn:hover {
	color:#353535;
	background-color:#fff;
	border-color:#fff
}
.blog{
	border-radius: 8px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
    border-radius: 8px;
    margin-bottom: 20px;
}
.blog img{
	width: 100%;
	height: 190px;
	object-fit: cover;
	border-radius: 8px 8px 0 0;
	object-position: top;
}
.blog-content{
	padding: 20px;
	padding-top: 50px;
}
.blog-content h4{
	color: rgb(31, 31, 33);
	text-align: center;
	font-weight: bold;
	margin-bottom: 25px;
}
.blog-read-btn{
	color: rgb(8, 83, 135);
	font-weight: bold;
	text-align: center;
	display: block;
}
.blog-content h6{
	font-size: 12px;
	margin-top: 10px;
	color: rgb(173, 173, 173);
	display: block;
	text-align: center;
}
.blog-detail-page p{
	text-align: justify;
}
.blog-detail-page h6{
	font-size: 12px;
	margin-top: 10px;
	color: rgb(173, 173, 173);
}
#contactus{
	background-image: url(../img/contactus.jpg);
	min-height: 500px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 50px 0!important;
}
.contact-form{
	background-color: rgba(0,0,0,.56);
	padding: 50px!important;
	color: rgb(255,255,255);
}
#contactus .form-control{
	background-color: transparent;
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid rgb(212, 26, 36);
    padding: 0;
}
#contactus .form-control:focus{
	box-shadow: none;
}
#contactus .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255,255,255);
  opacity: 1; /* Firefox */
}

#contactus .form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: rgb(255,255,255);
}

#contactus .form-control::-ms-input-placeholder { /* Microsoft Edge */
  color: rgb(255,255,255);
}
.contact-title{
	color: rgb(255,255,255);
}
.contact-title:after{
	display: block;
	content: '';
	width: 50px;
	height: 2px;
	background-color: rgb(212, 26, 36);
	margin-bottom: 20px;
}
.contact-sm .fa{
	padding-right: 10px;
}
.map{
	background-color: rgb(3, 3, 31);
    padding: 50px!important;
}
.malayalam{
    font-family: 'Karthika';
    font-size: 9px;
}

.team-c {
    margin-left:auto;
    margin-right:auto;
}

@media only screen and (min-width: 768px) {
	#gallery .nav-tabs {
	    float: right;
	    margin-top: -60px;
	}
	.about-g-v iframe {
	    width:50%;
	}
}
@media only screen and (max-width: 768px) {
	.logo {
	    width: 7rem;
	}
	.nav-link{
		font-size: 13px;
	}
	.slider_text{
		top: 35%;
	}
}
@media only screen and (max-width: 767px) {
	.navbar-nav{
		padding-left: 10px;
	}
}
@media only screen and (max-width: 600px) {
	.abt-content {
	    padding: 3% 0% 0 25%;
	}
	.about-image{
		height: auto;
	}
	#aboutus img{
		height: auto;
	}
	.team-mem-group{
		height: auto;
	}
	.slider_text h1{
		font-size: 1rem;
	}
	.slider_text h2{
		font-size: .5rem;
	}
	.slider-btn{
		font-size: 12px;
		padding: 5px;
	}
	#gallery .nav-tabs .nav-link{
		padding: 5px 10px;
    	margin-bottom: 10px;
	}
	.nav-tabs .nav-item{
		display: block;
		width: 100%;
		text-align: center;
	}
}
@media (min-width: 576px){
	.modal-dialog {
	    max-width: 70%;
	    margin: 1.75rem auto;
	}
}