@font-face{
	font-family: 'Eurostile';
	src:url('Eurostile/Eurostile.ttf') format('truetype');	
}
@font-face{
	font-family: 'ArialBlack';
	src:url('Arial/ariblk.ttf') format('truetype');	
}
@font-face{
	font-family: 'Verdana';
	src:url('Verdana/verdana.ttf') format('truetype');	
}
@font-face{
	font-family: 'Karthika';
	src:url('ML-TTKarthika/MLKR0NTT.TTF') format('truetype');	
}
